iframe {
  min-height: 100vh;
  pointer-events: none;
}
#iframe {
  pointer-events: none;
}

/* Enable pointer events for hover on the iframe */
iframe:hover {
  pointer-events: auto;
}

body {
  background-color: #c48f5c;
  overflow: hidden;
}

.box,
.assistant {
  min-height: 40px;
  min-width: 40px;
  background-color: blue;
  position: absolute;
  top: 40px;
  left: 40px;
}

.spline-watermark {
  display: none !important;
  z-index: 0;
}

a {
  display: none !important;
}
