iframe {
  min-height: 50vh;
  height: 100vh;

  pointer-events: none;
}

/* Enable pointer events for hover on the iframe */

body {
  background-color: #c48f5c;
  overflow: hidden;
}

.box,
.assistant {
  min-height: 40px;
  min-width: 40px;
  background-color: blue;
  position: absolute;
  top: 40px;
  left: 40px;
}
.image-container {
}
#sleeping-koala {
  position: absolute;
  transform: translate(calc(90vw - 100px), calc(90vh - 100px));
  height: 200px;
  aspect-ratio: 1/1;
  /* display: none; */
}
#awake-koala {
  position: absolute;
  transform: translate(calc(90vw - 100px), calc(90vh - 100px));
  height: 200px;
  aspect-ratio: 1/1;
}
#wake-me {
  position: absolute;
  transform: translate(calc(90vw), calc(40px));
  display: flex;
  flex-direction: column;
  /* pointer-events: none; */
}
#wake-me-button {
  padding: 10px;
  cursor: pointer;
  /* pointer-events: none; */
  border: 1px solid black;
  background: transparent;
  width: fit-content;
  /* display: none; */
}
/* Initially hide the .wake-me-info element */
.wake-me-info {
  display: none;
  transform: translateX(-30%);
  margin-bottom: 10px;
  color: #120b48;
}

/* Show .wake-me-info when #wake-me-button is hovered */
#wake-me-button:hover + .wake-me-info {
  display: flex;
}

.moon {
}
.sun {
}
.rain {
}
#makeitrainbtn {
  position: relative;
  top: 20vh;
  left: 2vw;
  padding: 10px;
  background: transparent;
}
